.to-do-modal-body {
  width: 100%;
  height: 100%;
  background: #FFF;
}
.to-do-modal-body .field {
  width: 100%;
}
.to-do-modal-body .field .control {
  margin-bottom: 10px;
}
.notification {
  width: 30%;
  z-index: 50;
  position: absolute !important;
  top: 5px;
  right: 5px;
}
.modal-content {
  overflow: visible !important;
}
