@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 16px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 16px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 16px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 38.4px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 38.4px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 38.4px;
  }
}
.todo-navbar {
  width: 100%;
  height: 50px;
  background-color: #0facf3;
}
.todo-navbar .nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.todo-navbar .nav-wrapper a {
  color: #ffffff;
}
.todo-navbar .nav-wrapper .todo-navbar-logo {
  height: 100%;
}
.todo-navbar .nav-wrapper .todo-navbar-logo img {
  height: 100%;
}
.todo-navbar .right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #000000;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.to-do-modal-body {
  width: 100%;
  height: 100%;
  background: #FFF;
}
.to-do-modal-body .field {
  width: 100%;
}
.to-do-modal-body .field .control {
  margin-bottom: 10px;
}
.notification {
  width: 30%;
  z-index: 50;
  position: absolute !important;
  top: 5px;
  right: 5px;
}
.modal-content {
  overflow: visible !important;
}
.todo-main-panel {
  display: flex;
  justify-content: center;
}
.todo-main-panel .markdown-preview-box {
  width: 100%;
}
.todo-main-panel .markdown-preview-box p {
  font-size: 18px;
  line-height: 1.10em;
}
.todo-main-panel .delete-button-box {
  opacity: 0;
  padding: 10px;
}
.todo-main-panel .delete-button-box:hover {
  opacity: 1;
}
.todo-main-panel .todo-input {
  border: none;
  font-size: 18px;
  resize: none;
  width: 100%;
  min-height: 30px;
  overflow: auto;
  line-height: 1.10em;
}
.todo-main-panel .todo-input:focus {
  border: none;
  outline: none;
}
.todo-main-panel .checkbox-container {
  display: inline-block;
  margin-right: 20px;
}
.todo-main-panel input[type=checkbox] {
  display: none;
}
.todo-main-panel .check-box {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 3.2px solid #000000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.todo-main-panel .check-box::before,
.todo-main-panel .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 6.4px;
  background-color: #34b93d;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}
.todo-main-panel .check-box::before {
  top: 23.04px;
  left: 13.12px;
  box-shadow: 0 0 0 1.6px #ffffff;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.todo-main-panel .check-box::after {
  top: 11.84px;
  left: 1.6px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.todo-main-panel input[type=checkbox]:checked + .check-box,
.todo-main-panel .check-box.checked {
  border-color: #34b93d;
}
.todo-main-panel input[type=checkbox]:checked + .check-box::after,
.todo-main-panel .check-box.checked::after {
  height: 16px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
.todo-main-panel input[type=checkbox]:checked + .check-box::before,
.todo-main-panel .check-box.checked::before {
  height: 38.4px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
.todo-add-btn {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.todo-add-btn:focus {
  outline: none;
}
.markdown-box * {
  margin: 0;
  padding: 0;
  word-break: break-word;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.todo-update-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
