.to-do-modal-body {
  width: 100%;
  height: 100%;
  background: #FFF;
}
.to-do-modal-body .field {
  width: 100%;
}
.to-do-modal-body .field .control {
  margin-bottom: 10px;
}
.notification {
  width: 30%;
  z-index: 50;
  position: absolute !important;
  top: 5px;
  right: 5px;
}
.modal-content {
  overflow: visible !important;
}
.todo-main-panel {
  display: flex;
}
.todo-main-panel label.checkbox {
  margin-right: 10px;
}
.todo-main-panel label.checkbox input[type="checkbox"] ~ svg.fa-square {
  display: inline;
}
.todo-main-panel label.checkbox input[type="checkbox"] ~ svg.fa-check-square {
  display: none;
}
.todo-main-panel label.checkbox input[type="checkbox"]:checked ~ svg.fa-square {
  display: none;
}
.todo-main-panel label.checkbox input[type="checkbox"]:checked ~ svg.fa-check-square {
  display: inline;
}
.todo-main-panel label.checkbox input[type="checkbox"] {
  display: none;
}
.todo-main-panel .todo-input {
  border: none;
  font-size: 18px;
  resize: none;
  width: 100%;
}
.todo-main-panel .todo-input:focus {
  border: none;
  outline: none;
}
.todo-add-btn {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.todo-add-btn:focus {
  outline: none;
}
.todo-margin-top-10 {
  margin-top: 10px;
}
